body{
    background-color: black;
    }
    
    h1{
        text-align: center;
    }
    
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

    p.main {
        text-align: center;
    }

    label {
        color: yellow;
    }
     div {
        text-align: center;
     }